<!DOCTYPE html>
<html>

<head>
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body id="landing_page">
    <div class="flex-container"> 
        <div class="leftSide">
            <div id="home_photo"></div>
            <p>All scooters in one PLACE!</p>
        </div>
            <div class="ladnig_buttons">
            <div class="start">
                <a href="loginpage">Login!</p>
            </div>
            <div class="start">
                <a href="register">Join Us!</a>
            </div>
           
        </div>
    </div>
    <footer class="site-footer">
        <div class="footer_about">
                <a href="./LandingPage.html" class="title">SafeRide</a>
                <a href="./Login.html" class="aboutUs">About Us</a>
        </div>
        <div class="footer_icons">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Yarin & Niv</p>
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>